.header {
  width: 100%;
  padding: 10px;
  height: fit-content;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-left: 1vw;
  width: 6vw;
  height: 40px;
}

.header > h2 {
  margin-left: 37vw;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 35vw;
  margin-right: 10px;
  color: white;
}
